body {
  padding: 0 20px;
  font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 13px;
}

h1 {
  font-size: 25px;
  margin: 0.8em 0 0.5em;
  padding-top: 4px;
  border-top: 1px dotted #d5d5d5;
}

h2 {
  padding: 0;
  padding-bottom: 3px;
  border-bottom: 1px #aaa solid;
  font-size: 1.4em;
  margin: 1.8em 0 0.5em;
}

#content {
  a:link, a:visited {
    text-decoration: none;
    color: #05a;
  }

  a:hover {
    background: #ffffa5;
  }

  #filecontents {
    li {
      line-height: 25px;
    }
  }
}
