.alphaindex {
  margin-top: 0;
  font-size: 22px;
}

.noborder {
  border-top: 0px;
  margin-top: 0;
  padding-top: 4px;
}

.title {
  margin-bottom: 10px;
}

#files {
  padding: 0;
  font-size: 1.1em;

  li {
    list-style: none;
    display: inline;
    padding: 7px 12px;
    line-height: 35px;
    background: #F0F0F0;
    margin-right: 5px;
  }
}

