@import "compass";

.alphaindex {
  margin-top: 0;
  font-size: 22px;
}

.noborder {
  border-top: 0px;
  margin-top: 0;
  padding-top: 4px;
}

.title {
  margin-bottom: 10px;
}

#files {
  padding: 0;
  font-size: 1.1em;

  li {
    list-style: none;
    display: inline;
    padding: 7px 12px;
    line-height: 35px;
    background: #F0F0F0;
    margin-right: 5px;
  }
}

.index {
  @include column-count(3);
  @include column-width(33%);

  > ul {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;

    font-size: 1.1em;
    list-style: none;

    > li.letter {
      -webkit-column-break-after: avoid;

      font-size: 1.4em;
      padding-bottom: 10px;
      text-transform: uppercase;
    }

    > ul {
      margin: 0;
      padding-left: 20px;

      small {
        color: #666;
        font-size: 0.7em;
      }
    }
  }
}
